@import url("https://fonts.googleapis.com/css?family=Poppins");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

:root {
  --cream: rgb(255, 252, 241);
  --dblue: rgb(4, 28, 44);
  --blue: rgb(7, 114, 133);
  --dred: rgb(78, 8, 3);
  --red: rgb(228, 46, 46);
}

a {
  text-decoration: none;
  color: white;
}

span.bold {
  font-weight: 600;
  color: #333333;
}

span.blue {
  color: var(--blue);
  margin: 0 5px;
}

button {
  cursor: pointer;
  background-color: var(--dred);
  color: white;
  border: none;
  padding: 10px 20px;
  -webkit-transition: background-color 200ms;
  transition: background-color 200ms;
}

button:hover {
  background-color: var(--red);
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 4rem;
  background-color: var(--dblue);
}

.header-btn {
  position: relative;
  margin: 0 15px;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
}

.header-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  -webkit-transform: scaleX(0) scaleY(1);
          transform: scaleX(0) scaleY(1);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
  height: 2px;
  background-color: white;
}

.header-btn:hover:after {
  -webkit-transform: scaleX(1) scaleY(1);
          transform: scaleX(1) scaleY(1);
}

.header-logo {
  position: absolute;
  left: 1rem;
  cursor: pointer;
}

.side-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  position: absolute;
  right: 2rem;
}

.side-buttons .side-button {
  background-color: transparent;
  font-size: 1.2rem;
  color: var(--blue);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.side-buttons .side-button:hover {
  color: white;
}

.hamburger-menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  cursor: pointer;
  right: 1rem;
}

.hamburger-menu-button .icon {
  font-size: 2rem;
  color: var(--blue);
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.hamburger-menu-button .icon:hover {
  color: white;
}

.hamburger-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.hamburger-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-size: 1.2rem;
  letter-spacing: 2px;
  margin: auto;
  text-align: center;
  position: relative;
}

.hamburger-btn:hover {
  background-color: white;
}

.hamburger-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: var(--blue);
}

svg.back-hamburger {
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  color: var(--blue);
}

.offer-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--cream);
  color: var(--blue);
  position: absolute;
  font-size: 15px;
  font-weight: 600;
  right: -13px;
  top: 0px;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem 0;
}

.about-section img {
  width: 400px;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.about-section div {
  width: 600px;
  text-align: justify;
  line-height: 1.7;
  margin-left: 2rem;
}

div.homepage {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.intro div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: justify;
  width: 500px;
  line-height: 1.7;
}

.intro img {
  padding: 2rem;
  width: 500px;
}

.rooms-page-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  margin: 1rem auto;
}

.rooms-page-div div.rooms-container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.rooms-page-div div.filters-container {
  padding: 2rem;
  position: -webkit-sticky;
  position: sticky;
  width: 300px;
  top: 1rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  background-color: var(--cream);
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
  -webkit-box-shadow: 0 0 2px 0 var(--blue);
          box-shadow: 0 0 2px 0 var(--blue);
}

.rooms-page-div div.filters-container h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.rooms-page-div div.filters-container:hover {
  -webkit-box-shadow: 0 0 5px 0 var(--blue);
          box-shadow: 0 0 5px 0 var(--blue);
}

.rooms-page-div div.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.26);
  border-right: 1px solid rgba(0, 0, 0, 0.26);
  position: relative;
  margin-top: 1rem;
}

.rooms-page-div div.filter p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rooms-page-div div.filter p.rent {
  position: absolute;
  right: 1rem;
  top: 0%;
}

.rooms-page-div div.filter select {
  cursor: pointer;
  outline: none;
  background-color: var(--dblue);
  color: white;
  border: 0;
  padding: 2px 5px;
  font-size: 16px;
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
}

.rooms-page-div div.filter select:hover {
  -webkit-box-shadow: 0 0 7px 0 var(--blue);
          box-shadow: 0 0 7px 0 var(--blue);
}

.rooms-page-div div.filter input {
  margin-left: 0.5rem;
  cursor: pointer;
}

.rooms-page-div div.filter input.checkbox {
  width: 1rem;
  height: 1rem;
}

.rooms-page-div .filter-icon {
  color: var(--blue);
  margin-left: 5px;
}

.rooms-page-div div.filter:hover {
  -webkit-box-shadow: 0 0 2px 0 var(--blue);
          box-shadow: 0 0 2px 0 var(--blue);
}

.rooms-page-div div.column-filter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.rooms-page-div div.filtered-rooms {
  padding: 1rem 2rem;
}

.rooms-page-div button.apply-filters-btn {
  width: 100%;
  border-radius: 0;
  font-size: 18px;
  margin-top: 1rem;
  background-color: var(--dblue);
}

.rooms-page-div button.apply-filters-btn:hover {
  background-color: var(--blue);
}

.rooms-page-div .sorting-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 550px;
  position: relative;
}

.rooms-page-div .sorting-options p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.rooms-page-div .sorting-options button {
  width: 7rem;
  margin-left: 1rem;
  border-radius: 0;
  height: 2rem;
  font-size: 16px;
  padding: 5px;
  text-align: start;
}

.rooms-page-div .sorting-options button .down-arrow {
  position: absolute;
  right: 0;
}

.rooms-page-div .sorting-options button:hover {
  background-color: var(--red);
}

.rooms-page-div .sorting-selector {
  background-color: var(--dred);
  color: var(--cream);
  padding: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
}

.rooms-page-div .sorting-selector:hover {
  -webkit-box-shadow: 0 0 5px 0 var(--red);
          box-shadow: 0 0 5px 0 var(--red);
}

div.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.425);
  z-index: 3;
}

div.city-map {
  position: relative;
}

div.city-map div.point-on-map {
  position: absolute;
  top: 20%;
  right: 20%;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #f55c5c;
  -webkit-animation: pulse infinite 1000ms;
          animation: pulse infinite 1000ms;
}

div.city-map img {
  width: 400px;
  height: 400px;
}

div.city-map .close-map {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 2rem;
  color: var(--dred);
  background-color: transparent;
  -webkit-transition: color 200ms;
  transition: color 200ms;
  cursor: pointer;
}

div.city-map .close-map:hover {
  color: var(--red);
}

.individual-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
  -webkit-box-shadow: 0 0 2px 0 var(--blue);
          box-shadow: 0 0 2px 0 var(--blue);
  margin-top: 1rem;
}

.individual-room img {
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-right: 1rem;
}

.individual-room div {
  line-height: 1.7;
  padding: 1rem;
  color: #4b4949;
}

.individual-room button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0;
  width: 100%;
  font-size: 16px;
  height: 3rem;
}

.individual-room button .icon {
  margin-left: 5px;
}

.individual-room:hover {
  -webkit-box-shadow: 0 0 7px 0 var(--blue);
          box-shadow: 0 0 7px 0 var(--blue);
}

.show-location-icon {
  position: absolute;
  right: 1rem;
  top: 1rem;
  color: var(--blue);
  cursor: pointer;
}

.show-location-icon:hover {
  color: var(--red);
}

.mail-list-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mail-list-section div {
  width: 500px;
}

.mail-list-section div + div {
  margin-left: 3rem;
}

.mail-list-section .input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mail-list-section .input-container input {
  width: 400px;
  height: 2.5rem;
  padding: 5px 10px;
  outline: none;
  font-size: 1.2rem;
  border: 0;
  -webkit-box-shadow: 0 0 2px 0 var(--blue);
          box-shadow: 0 0 2px 0 var(--blue);
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
  color: var(--dblue);
}

.mail-list-section .input-container input:focus {
  -webkit-box-shadow: 0 0 5px 0 var(--blue);
          box-shadow: 0 0 5px 0 var(--blue);
}

.mail-list-section .input-container button {
  border-radius: 0;
  height: 2.5rem;
}

#root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #252522;
  color: white;
  height: 4rem;
  margin-top: auto;
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 100%;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 10px 0px red;
            box-shadow: 0px 0px 10px 0px red;
  }
  50% {
    -webkit-box-shadow: 0px 0px 30px 10px red;
            box-shadow: 0px 0px 30px 10px red;
  }
  100% {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, 0);
            box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, 0);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0px 0px 10px 0px red;
            box-shadow: 0px 0px 10px 0px red;
  }
  50% {
    -webkit-box-shadow: 0px 0px 30px 10px red;
            box-shadow: 0px 0px 30px 10px red;
  }
  100% {
    -webkit-box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, 0);
            box-shadow: 0px 0px 30px 10px rgba(255, 0, 0, 0);
  }
}

div.individual-offer {
  border-bottom: 1px solid var(--blue);
  border-right: 1px solid var(--blue);
  margin-top: 1.5rem;
  -webkit-transition: -webkit-box-shadow 200ms;
  transition: -webkit-box-shadow 200ms;
  transition: box-shadow 200ms;
  transition: box-shadow 200ms, -webkit-box-shadow 200ms;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.individual-offer div.individual-offer-info {
  padding: 1rem;
  height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.individual-offer div.individual-offer-info div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

div.individual-offer img {
  width: 150px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}

div.individual-offer:hover {
  -webkit-box-shadow: 0 0 5px 0 var(--blue);
          box-shadow: 0 0 5px 0 var(--blue);
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
}

.delete-offer-button {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  margin-right: 1rem;
  color: var(--dred);
  cursor: pointer;
  -webkit-transition: color 200ms;
  transition: color 200ms;
}

.delete-offer-button:hover {
  color: var(--red);
}

div.offer-made {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 3rem;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--blue);
  background-color: var(--cream);
  border: 3px solid var(--blue);
  -webkit-animation: blue-pulse 200ms  ease-in-out;
          animation: blue-pulse 200ms  ease-in-out;
}

@-webkit-keyframes blue-pulse {
  0% {
    outline: 1px solid var(--blue);
  }
  100% {
    outline: 10px solid transparent;
  }
}

@keyframes blue-pulse {
  0% {
    outline: 1px solid var(--blue);
  }
  100% {
    outline: 10px solid transparent;
  }
}

div.offers-page {
  padding: 1rem;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: var(--cream);
}

body::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 10px;
  border: 1px solid var(--dblue);
}

@media (max-width: 1153px) {
  .intro div {
    width: 400px;
  }
  .intro img {
    width: 400px;
  }
  .mail-list-section div {
    width: 400px;
  }
  .mail-list-section .input-container input {
    width: 400px;
  }
  .about-section img {
    width: 400px;
    height: 400px;
  }
  .about-section div {
    width: 400px;
    margin-left: 2rem;
  }
  .rooms-page-div {
    width: 90%;
    margin: 1rem auto;
  }
  .rooms-page-div div.filters-container {
    top: 1rem;
    height: 60vh;
    width: 300px;
    position: -webkit-sticky;
    position: sticky;
    padding: 2rem;
  }
}

@media (max-width: 900px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro div {
    width: 600px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .intro img {
    width: 600px;
  }
  .mail-list-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mail-list-section div {
    width: 600px;
  }
  .mail-list-section .input-container {
    width: 600px;
    margin: 1rem 0;
  }
  .mail-list-section .input-container input {
    width: 500px;
  }
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section img {
    width: 600px;
    height: 400px;
  }
  .about-section div {
    width: 600px;
    margin: 1rem 0;
  }
  .rooms-page-div {
    width: 90%;
    margin: 1rem auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rooms-page-div div.filters-container {
    position: relative;
    margin: auto;
    width: 500px;
    padding: 2rem;
  }
  .rooms-page-div div.rooms-container {
    margin-top: 2rem;
  }
  .rooms-page-div div.filtered-rooms {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .rooms-page-div div.individual-room {
    width: 100%;
  }
  .rooms-page-div div.individual-room div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  div.individual-offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  div.individual-offer div.individual-offer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }
  div.individual-offer div.individual-offer-info div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media (max-width: 768px) {
  .intro {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .intro div {
    width: 95%;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    line-height: 1.2;
  }
  .intro img {
    width: 95%;
    padding: 0;
    margin-top: 1rem;
  }
  .mail-list-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .mail-list-section div {
    width: 95%;
  }
  .mail-list-section .input-container {
    width: 95%;
    margin: 1rem 0;
  }
  .mail-list-section .input-container input {
    width: 100%;
  }
  .about-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .about-section img {
    width: 95%;
    margin: 0;
  }
  .about-section div {
    width: 95%;
  }
  .rooms-page-div {
    width: 95%;
    margin: 1rem auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rooms-page-div div.filters-container {
    position: relative;
    margin: auto;
    width: 95%;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
    padding: 2rem;
  }
  .rooms-page-div div.rooms-container {
    margin-top: 2rem;
  }
  .rooms-page-div div.sorting-options {
    width: 100%;
    margin: 1rem 0;
  }
  .rooms-page-div div.filtered-rooms {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .rooms-page-div div.individual-room {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .rooms-page-div div.individual-room img {
    width: 100%;
    margin: 0;
  }
  .rooms-page-div div.individual-room div {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    width: 100%;
  }
  div.individual-offer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  div.individual-offer div.individual-offer-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  div.individual-offer div.individual-offer-info div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  div.individual-offer img {
    width: 100%;
  }
  footer {
    font-size: 14px;
  }
}
/*# sourceMappingURL=App.css.map */